/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Colour Scheme: 
Red: e63946
Lightest blue: f1faee
mid blue: a8dadc
dark blue: 457b9d
darkest blue: 1d3557
*/

body {
	background-color: #1d3557;
	width: 100vw;
	height: 100vh;
	font-family: sans-serif;
}

.player-board {
    display: grid;
    grid-template-columns: repeat(3, 190px);
    grid-template-rows: repeat(3, 190px);
    gap: 20px;
    gap: 20px;
    background-color: #e63946;
    width: 610px;
    padding: 20px;
	grid-column: 2 / 3;
}

[data-state="pregame"] {
	display: grid;
    grid-template-columns: 250px 250px 200px;
    grid-template-rows: 60px;
    gap: 20px;
	justify-content: center;
}

[type="text"] {
	border-radius: 15px;
    border: 0px;
    background-color: #f1faee;
	padding: 15px;
    font-size: 25px;
    color: #457b9d;
}

button {
	border-radius: 15px;
    border: 0px;
    background-color: #a8dadc;
    color: #1d3557;
	font-size: 25px;
}

[type="text"]:focus {
	border: 3px solid #e63946;
	outline: none;
}

h1 {
	display: grid;
    font-size: 50px;
    justify-content: center;
    color: #e63946;
    height: 50px;
    width: 250px;
    padding: 20px;
    background-color: #f1faee;
	border-radius: 15px;
}

.heading {
	display: grid;
	justify-content: center;
}

.buttons {
	display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 80px;
    gap: 20px;
    justify-content: center;
    grid-column: 1 / 4;
}

.reset-whole-game {
    width: 210px;
	height: 60px;
}

[data-state="game"] {
	display: grid;
    grid-template-columns: 250px 250px 200px;
    grid-template-rows: 60px 110px 80px;
    justify-content: center;
    gap: 20px;
}

[data-state="error"] {
	display: grid;
	grid-template-columns: 250px 250px 200px;
    grid-template-rows: 60px 110px;
	justify-content: center;
	gap: 20px;
}

.player-information {
	grid-column: 1 / 4;
	color: #f1faee;
    line-height: 1.5;
    font-size: 30px;
    padding: 10px;
    display: grid;
    justify-content: center;
}

.error-section {
	grid-column: 1 / 4;
    color: #f1faee;
    line-height: 1.5;
    font-size: 30px;
    padding: 10px;
    display: grid;
    justify-content: center;
}

button[data-active="true"] {
	background-color: #e63946;
	color: #f1faee;
	font-size: 25px;
}

button[data-active="false"] {
	background-color: #f1faee;
	color: #e63946;
	font-size: 25px;
}

.gameboard[data-active="false"] {
	height: 0px;
}

.player-square {
	border-radius: 15px;
    border: 0px;
    background-color: #f1faee;
    color: #1d3557;
    font-size: 80px;
    font-weight: bold;
}

.gameboard[data-active="true"] {
	display: grid;
	grid-template-columns: 1fr 440px 1fr;
    grid-template-rows: 650px 100px 60px;
    align-items: center;
    gap: 40px;
}

.tally {
	display: grid;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #f1faee;
    grid-template-rows: 40px 40px;
	gap: 20px;
}

.score {
	color: #f1faee;
    line-height: 1.5;
    font-size: 30px;
    padding: 10px;
    display: grid;
    justify-content: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.reset-button {
	height: 60px;
    width: 210px;
}

.all-resets {
	grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    grid-template-rows: 50px;
}

.gameboard-mid-section {
	display: grid;
    grid-template-columns: 1fr 660px 1fr;
    grid-column: 1 / 4;
	gap: 40px;
    justify-content: center;
    align-items: center;
}

.container {
	display: grid;
	gap: 40px;
    padding: 40px;
	justify-content: center;
	align-items: center;
}

.reset-gameboard,
.reset-whole-game-section {
	display: grid;
	justify-content: center;
}
